**/fp-info-cache
**/fp-info-cache
**/~*.lck
**/__pycache__/
**/*.py_
docs/_build/
docs/top/
docs/index_top.rst
docs/tentacle_v0.5_images/*.drawio.svg.bkp
kicad/tentacle_v*/00_project_library.bak
kicad/tentacle_v*/pcb_octoprobe-backups/
kicad/tentacle_v*/pcb_octoprobe.kicad_sch-bak
kicad/tentacle_v*/pcb_tentacle-backups/
kicad/tentacle_v*/pcb_tentacle.kicad_sch-bak
kicad/tentacle_v*/production/
kicad/tentacle_v*/replicate_layout.log
